:root {
  --primary-color: #f8f9fa;
  --secondary-color: #343a40;
  --accent-color: 229, 213, 193; 
  --neutral-light-color: 235, 235, 235;
  --quinary-color: #e9ecef;
  --senary-color: #212529;
}


/* Typography */

.font-bold {
  font-weight: 700;
}

.text-heading {
  font-size: 2rem;
  text-transform: uppercase;
}

.text-medium {
  font-size: 1.25rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .text-medium {
    font-size: 1.75rem;
  }
}

.text-base {
  font-size: 1rem;
}

.text-custom {
  font-size: 1.2rem;
}

.text-light {
  color: #ebebeb !important;
}

.text-gray {
  color: #cacaca;
}

.text-accent {
  color: rgb(var(--accent-color));

}

.text-decoration-none {
  text-decoration: none;
}

/* Margins & Paddings */
.-mt-5 {
  margin-top: -5px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-30 {
  padding-top: 30px;
}

.primary-padding {
  padding-inline: 1rem;
}

@media (min-width: 980px) {
  .primary-padding {
    padding-inline: 10rem;
  }
}

.padding-inner {
  padding-right: 7%;
  padding-left: 2rem;
}

/* Utilities */
.cursor-pointer {
  cursor: pointer;
}

.border-sm {
  border-radius: 1%;
}

/* Card */
.card-text {
  color: #cacaca;
}

.img-small {
  width: 200px; 
  height: 80px;
}

.bg-neutral-light {
  background-color: rgba(var(--neutral-light-color), 0.3);
}

.home-how-to h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #cacaca;
}

.home-how-to a {
  text-decoration: none;
}

.btn-custom {
  padding: 1rem 2rem;
}

.view-link {
  margin-top: -15px;
  color: rgb(var(--accent-color));
  text-decoration: none;
}

.view-link:hover {
  text-decoration: none;
  color: rgba(var(--accent-color), 0.8);
}